:root{
    --baby-pink: #ff99c8ff;
    --lemon-chiffon: #fcf6bdff;
    --frosted-mint: #d0f4deff;
    --mauve: #e4c1f9ff;
    --thistle: #cdb4dbff;
    --pastel-petal: #ffc8ddff;
    --baby-pink2: #ffafccff;
    --icy-blue: #bde0feff;
    --sky-blue: #a2d2ffff;
    --alice-blue: #edf2fbff;
    --lavender: #e2eafcff;
    --lavender-2: #d7e3fcff;
    --periwinkle: #ccdbfdff;
    --periwinkle-2: #c1d3feff;
    --periwinkle-3: #b6ccfeff;
    --baby-blue-ice: #abc4ffff;
    --atomic-tangerine: #ff6b35ff;
    --peach-glow: #f7c59fff;
    --beige: #efefd0ff;
    --steel-azure: #004e89ff;
    --baltic-blue: #1a659eff;
    --ink-black: #000814ff;
    --prussian-blue: #001d3dff;
    --regal-navy: #003566ff;
    --school-bus-yellow: #ffc300ff;
    --gold: #ffd60aff;
}