@import url("fonts.css");
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* 
    font-family: 'Coolvetica';
    font-family: 'KG Red Hands';
    font-family: 'Be Vietnam Pro';
    font-family: 'Zen Maru Gothic'; 
    font-family: 'KGPerfectPenmanship';
    font-family: 'LettersForLearners';

*/
:root {
  --rosinha1: #ff99c8;
  --rosinha2: #ffafcc;
  --azul_esc1: #000814;
  --azul_esc2: #001d3d;
  --azul1: #003566;
  --azul2: #004e89;
  --azul3: #1a659e;
  --laranja1: #ff6b35;
  --bege: #f7c59f;
  --azul_claro1: #a2d2ff;
  --azul_claro2: #bde0fe;
  --azul_claro3: #e2eafc;
  --bg: #edf2fb;
  background-color: var(--bg);
}
body {
  font-family: Be Vietnam Pro;
  overflow-x: hidden;
}
button{
  cursor: pointer;
}
p{
  letter-spacing: 0px;
}

.navbar {
  display: flex;
  margin-top: 18px;
}

.navbar a {
  text-decoration: none;
  font-size: 13pt;
  color: var(--azul_esc1);
}

.navbar svg {
  margin-left: 64px;
}

.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 26px;
  margin-left: auto;
  margin-right: 64px;
}
.navbar a {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.navbar a:hover {
  transform: translateY(-3px);
}

.navbar a::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--laranja1);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.navbar a:hover::before {
  transform: scaleY(1);
}


.indicadoris button {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 100%;
}
.carousel-banner {
  height: 600px;
  margin: auto;
}

.sc2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 28px;
  margin-bottom: 50px;

  a {
    text-decoration: none;
  }
}

.eventos,
.adocao,
.galeria {
  background-color: var(--azul3);
  width: 567px;
  height: 467px;
}
.eventos p,
.galeria p {
  color: #edf2fb;
  font-family: Coolvetica;
  font-size: 74pt;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%;
  margin-right: 1.5rem;
}
.adocao p {
  color: #edf2fb;
  font-family: Coolvetica;
  font-size: 74pt;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%;
  margin-left: 1.5rem !important;
}

footer {
  margin-top: 1rem;
  display: flex;
  height: 254px;
  background-color: var(--azul1);
  color: #fff;
  font-family: "Be Vietnam Pro";
  font-size: 10pt;
  flex-direction: column;

  ul {
    color: #fff;
    font-family: Coolvetica;
    width: 13rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
  li {
    margin-bottom: 5px;
    color: #fff;
    font-family: "Be Vietnam Pro";
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  h3 {
    font-family: Coolvetica;
    font-size: 18pt;
    font-weight: 200;
    color: white;
    margin-left: 1.7rem;
    margin-bottom: -0.7rem;
  }
}
.ft2 {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: var(--azul_esc2);
  align-items: center;
  padding: 0px 10px;
}
.titles {
  color: #fff;
  font-family: Coolvetica;
  font-size: 24px;
  font-weight: 200;
}
.menu-footer {
  columns: 2;
  column-gap: 3.5rem;
}


.ovl {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 53, 102, 1) 100%
  );
  height: 100%;
}
.ovl2 {
  background-image: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 53, 102, 1) 100%
  );
  height: 100%;
}
.ovl3 {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 53, 102, 1) 100%
  );
  height: 100%;
}

.subtit {
  color: #001d3d;
  font-family: Coolvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%; /* 19.192px */
  letter-spacing: 1.6px;
  margin: 0;
  margin-top: 4px;
  margin-left: 10px;
}
.sc3 h1 {
  color: #001d3d;
  font-family: Coolvetica;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 3rem;
  line-height: 1rem;
}

.sc3 p {
  width: 526px;
  color: #001d3d;
  text-align: justify;
  font-family: Coolvetica;
  font-size: 20px;
  line-height: 119.952%;
}
.don {
  position: relative;
  color: var(--azul1);
}
.don:hover {
  background-color: #ff6b35;
  color: var(--azul1);
  border-color: #ff6b35;
}
.circle {
  position: absolute;
  top: 114.4rem;
  left: 60rem;
  width: 392px;
  height: 392px;
  border-radius: 282px;
  background: #001d3d;
}
.img2 {
  position: relative;
  width: 654.399px;
  height: 400.344px;
  background-color: #d7e3fc;
  margin-top: 15px;
  border-radius: 0.5rem;
}
.img3 {
  position: absolute;
  top: 15rem;
  left: 26rem;
  width: 347px;
  height: 218px;
  background-color: var(--azul_esc2);
  border-bottom-right-radius: 5rem;
  outline: solid 20px var(--bg);
}
.subtit2 {
  color: #001d3d;
  font-family: Coolvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%; /* 57.577px */
}
.sc4 p {
  width: 510px;
  color: #001d3d;
  font-size: 20px;
  text-align: justify;
  font-family: Coolvetica;
  line-height: 119.952%; /* 23.99px */
}

.caroussel-events {
  width: 32.5rem;
  border-radius: 6rem;
  height: 400px;
}
.sc3u {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 132px;
  height: 36rem;
  margin-bottom: 60px;
}
.sc3 {
  margin-top: 5rem;
}
.sc4 {
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25.5rem;
  align-content: center;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.sc5 {
  margin-top: 5rem;
}
.sbt5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.sbt5 h1 {
  color: #001d3d;
  margin: 0;
  font-family: Coolvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%; /* 57.577px */
}
.sc5 img {
  position: relative;
  top: 4rem;
  left: 27.3rem;
  width: 90px;
}
.sc5 p {
  width: 832px;
  margin: auto;
  align-content: center;
  color: #001d3d;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%; /* 17.993px */
}
.map {
  position: relative;
  width: 1690.8px;
  height: 681.2px;
  margin: auto;
  margin-top: 5rem;
}

.map h2 {
  color: #001d3d;
  font-family: "KGPerfectPenmanship";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 138.714%; /* 33.291px */
}
.map h3,
.map h4 {
  color: #001d3d;
  font-family: "LettersforLearners";
  font-weight: bold;
  line-height: 99.96%; /* 23.99px */
  span {
    color: red;
  }
}
.ics {
  position: absolute;
  height: auto;
  width: 60px;
}
#ic2 {
  top: 29.7rem;
  left: 46.2rem;
}
#ic3 {
  top: 33.7rem;
  left: 73.2rem;
}
#ic4 {
  top: 32.1rem;
  left: 81.2rem;
}
#ic5 {
    top: 2rem;
    left: 15.5rem;
}
#ic6 {
top: 10rem;
    left: 15.5rem;
}
#ic7 {
    top: 18.1rem;
    left: 15.5rem;
}
#ic8 {
    top: 24rem;
    left: 80.5rem;
}
#ic9 {
    top: 41.6rem;
    left: 81.6rem;
}
.sect h1 {
  color: #001d3d;
  width: 436px;
  font-family: Coolvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.388%;

  span {
    margin-top: -1rem;
  }
}
.sect p {
  width: 420px;
  color: #001d3d;
  font-family: Coolvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%; /* 23.99px */
}
.dont {
  background-color: var(--rosinha1);
  color: var(--azul1);
  border-color: var(--rosinha1);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
.donate {
  padding: 33px;
  width: 549px;
  height: 700px;
  border-radius: 18px;
  border: 1px solid #edf2fb;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 9.4px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(11.449999809265137px);
}
.sc6 {
  display: flex;
  gap: 10rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}
.donate h4 {
  margin: 0;
  text-align: right;
  color: #001d3d;
  font-family: Coolvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%; /* 43.1856px */
}
.subtit3 {
  color: #001d3d;
  font-family: Coolvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.952%;
  letter-spacing: 1.6px;
  margin: 0;
  margin-left: 10px;
  margin-top: 7px;
}
.tit {
  margin-top: 69px;
}
.tit2 {
  width: 484px;
  height: 51px;
  margin-top: 32px;
  border-radius: 3px;
  background: #f9e6e2;
  text-align: center;
  align-content: center;
}
.tit2 p {
  color: #002153;
  font-family: "Be Vietnam Pro";
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 126.449%;
  margin: 0;
}
.tit2 span {
  font-family: Coolvetica;
  font-size: 14pt;
}

.uk-subnav-pill > * {
  padding-right: 0px;
}
#waw {
  font-family: Be Vietnam Pro;
}
.donte:hover {
  background-color: var(--rosinha1);
  color: var(--azul1);
  border-color: var(--rosinha1);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
    cursor: pointer;
}

