@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Maru+Gothic&display=swap');

/* ===== BASE ===== */
body {
    background-color: #edf2fbff;
    background-image: url("painel-background.svg");
    background-repeat: no-repeat;
    background-position: right top;
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
}

/* ===== HEADER ===== */
.header-home {
    position: relative;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 25px;
}

.logo-topo {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 180px;
}

.texto-header {
    margin-top: 80px;
}

.header-home h1 {
    color: #ff6b35ff;
    font-size: 48px;
}

.header-home p {
    color: #003566ff;
    font-size: 16px;
    font-weight: 500;
}

/* ===== CONTAINER HOME ===== */
#container-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin: 0 auto;
    gap: 20px;
}

/* ===== MENU-CARD ===== */
.menu-home { 
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 18px 20px;
    background-color: #003566ff;
    color: #d7e3fcff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.menu-home .linha-topo {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.menu-home .linha-topo svg.icon-home {
    width: 30px;  
    height: 30px;
    display: block;
    flex-shrink: 0;
}

.linha-topo img {
    width: 30px;
    height: 30px;
    display: block;
}
.titulo-item {
    font-size: 22px;
    line-height: 1;   
    margin: 0;
}

.menu-home p.total {
    font-size: 14px;
    margin: 0;
}

.menu-home:hover {
    color: #ff6b35ff;
    transform: translateY(-3px);
}

#container-home .menu-home:nth-child(5) {
    grid-column: span 2;
}